<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/index/index.js"></script>
    <link rel="stylesheet" href="/index/index.css"/>
    <title>Members Only</title>
</head>

<body>
    <header>
        <h1>Members Only</h1>
        <nav>
            <% if (locals.user) { %>
                <span class="username"><%=locals.user%></span>
                <button class="logoutBtn"">Logout</button>
            <% } else { %>
                <button class="signUpBtn"">Sign Up</button>
                <button class="loginBtn"">Login</button>
            <% } %>
        </nav>
    </header>
    <main>
        <div class="operationsBtnsWrapper">
            <% if (locals.user) { %>
                <button class="addPostBtn">Add a Post</button>
            <% } %>
        </div>
        <section class="postsSection">
            <% if (locals.posts) { %>
                <% for (let i = locals.posts.length; i > 0; i--) { %>
                    <% const post = locals.posts[i-1]%>
                    <article class="post">
                        <% console.log(locals.userId) %>
                        <% console.log(post.userId) %>
                        <% if ((locals.user && (locals.userId === post.userId)) || locals.admin) { %>
                            <div class="xBtnWrapper">
                                <form method="POST" action="/remove_post">
                                    <input name="postId" type="text" value="<%=post.id%>" class="metaInput"/>
                                    <button class="postXBtn">X</button>
                                </form>
                            </div>
                        <% } %>
                        <span class="postUser"><%=post.user%></span>
                        <p class="postMsg"><%=post.msg%></p>
                        <span class="postDate"><%=new Date(post.date)%></span>
                    </article>
                <% } %>
            <% } %>
        </section>
    </main>
    <div class="modalWrapper">
        <aside class="addPostModal">
            <h2>Add Post</h2>
            <form method="post" action="/add_post">
                <div class="inputWrapper">
                    <label for="addPostMsg" >Message</label>
                    <textarea name="msg" id="addPostMsg"></textarea>
                </div>
                <input type="submit" id="submit"/>
            </form>
        </aside>
    </div>
</body>

</html>